{% extends 'base.html' %}
 
{% block title %}
<title>確認</title>
{% endblock %}
 
{% block content %}
<form action="regist" method="POST">
    <input type="hidden" value="{{form['name']}}" name="name" />
    <input type="hidden" value="{{form['volume']}}" name="volume" />
    <input type="hidden" value="{{form['author']}}" name="author" />
    <input type="hidden" value="{{form['publisher']}}" name="publisher" />
    <input type="hidden" value="{{form['memo']}}" name="memo" />
    {% if registId %}
        <input type="hidden" value="{{registId}}" name="id" />
    {% endif %}
    <div class="container">
        <h3>入力情報の確認</h3>
        <p>入力された内容</p>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tr>
                        {% for head in headers %}
                        <th>{{head}}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for data in form.values() %}
                        <td>{{data}}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        <div class="container">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>ワイン</th>
                      <th>情報A</th>
                      <th>情報B</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                        <td>a</td>
                        <td>あああ</td>
                        <td>ほげ</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                        <td>b</td>
                        <td>いいいい</td>
                        <td>はげ</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                        <td>c</td>
                        <td>うう</td>
                        <td>ひげ</td>
                    </tr>
                  </tbody>
                </table>
            </div>

    
        <button class="btn btn-secondary" name="next" value="back">戻る(未実装)</button>
        <button class="btn btn-primary" name="next" value="regist">実行(未実装)</button>
    </div>
</form>
{% endblock %}