{% extends 'base.html' %}
 
{% block title %}
<title>確認</title>
{% endblock %}
 
{% block content %}
<form action="regist" method="POST">
    <input type="hidden" value="{{form['weight']}}" name="weight" />
    <input type="hidden" value="{{form['fruity']}}" name="fruity" />
    <input type="hidden" value="{{form['acidity']}}" name="acidity" />
    <input type="hidden" value="{{form['spicy']}}" name="spicy" />
    <input type="hidden" value="{{form['memo']}}" name="memo" />
    {% if registId %}
        <input type="hidden" value="{{registId}}" name="id" />
    {% endif %}
    <div class="container">
        <h3>入力情報の確認</h3>
        <p>入力された内容</p>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tr>
                        {% for head in headers %}
                        <th>{{head}}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for data in form.values() %}
                        <td>{{data}}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <h3>あなたにおすすめのワイン</h3>
        <div class="container">
            
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>ワイン</th>
                      <th>色</th>
                      <th>品種</th>
                      <th>産地国</th>
                      <th>組み合わせたい食べ物</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                        <td>{{df.loc[0]['name_kana']}}</td>
                        <td>{{df.loc[0]['color']}}</td>
                        <td>{{df.loc[0]['kind']}}</td>
                        <td>{{df.loc[0]['country']}}</td>
                        <td>{{df.loc[0]['食べ物']}}</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>{{df.loc[1]['name_kana']}}</td>
                      <td>{{df.loc[1]['color']}}</td>
                      <td>{{df.loc[1]['kind']}}</td>
                      <td>{{df.loc[1]['country']}}</td>
                      <td>{{df.loc[1]['食べ物']}}</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>{{df.loc[2]['name_kana']}}</td>
                      <td>{{df.loc[2]['color']}}</td>
                      <td>{{df.loc[2]['kind']}}</td>
                      <td>{{df.loc[2]['country']}}</td>
                      <td>{{df.loc[2]['食べ物']}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>

    
        <button class="btn btn-secondary" name="next" value="back">戻る</button>
        <button class="btn btn-primary" name="next" value="regist">登録</button>
    </div>
</form>
{% endblock %}